<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Page.Title }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <!-- <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/react/{{ .Site.Data.react.css }}" />
    <script type="module" defer src="/react/{{ .Site.Data.react.js }}"></script>

    <!-- pwa -->
    <!-- <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/favicon.png" />
    <meta name="theme-color" content="#454e56">
    <link rel="manifest" href="/manifest.json"> -->
    {{ partial "meta" . }}
    
    <!-- <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/sw.js');
          });
      }
    </script> -->

  </head>
  <body>
    <div class="content-wrapper">
      {{- block "header" . -}}
      <!-- navbar -->
      {{- end -}}
      {{- block "main" . -}}
      <!-- main -->
      {{- end -}}
      {{- block "footer" . -}}
      <!-- footer -->
      {{- end -}}
    </div>
  </body>
</html>
