{{ define "main" }}
<main class="relative flex grow flex-col">
  <div class="flex grow flex-col items-center justify-center gap-4" id="home">
    <h1 class="text-center font-semibold text-3xl">Hi, my name is <span class="derlev-gradient">DerLev</span>!</h1>
    <div class="socials-stack">
      <a
        class="socials-button"
        href="https://github.com/DerLev"
        target="_blank"
        rel="noopener noreferrer"
      >
        <!-- <FaGithub /> -->
        <span>GitHub</span>
      </a>
      <a
      class="socials-button"
        href="https://discord.com/users/377103974081495042"
        target="_blank"
        rel="noopener noreferrer"
      >
        <!-- <FaDiscord /> -->
        <span>Discord</span>
      </a>
      <a
        class="socials-button"
        href="https://twitter.com/_derlev_"
        target="_blank"
        rel="noopener noreferrer"
      >
        <!-- <FaTwitter /> -->
        <span>Twitter</span>
      </a>
    </div>
  </div>
</main>
{{ end }}

{{ define "footer" }} 
  <footer class="flex items-center justify-center py-2 px-4 text-xs text-text-500">
    <p>&copy; {{ now.Year }} DerLev</p>
  </footer>
{{ end }}
