{{ define "header" }}
  {{ partial "topnav" }}
{{ end }}
{{ define "main" }}
  <main class="list-page">
    <header>
      <h1>Blog</h1>
      {{/*  <h2>subheading</h2>  */}}
    </header>
    <section class="articles-list">
      {{ $paginator := .Paginate (where .Pages "Type" "blog") 20 }}

      {{ range $paginator.Pages }}
        {{ partial "post-card" . }}
      {{ end }}
    </section>
    <div class="pagination-container">
      {{ partial "paginationNav" . }}
    </div>
  </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
