@tailwind base;
@tailwind components;
@tailwind utilities;

@import './animations.scss';
@import './syntax.scss';

::selection {
  @apply bg-primary-500 text-text-100;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  @apply text-text-100 antialiased font-body overflow-y-scroll h-full;
  // @apply bg-background-dark;
  background: rgba($color: #050505, $alpha: .95) url(/styling/noise.svg);
  background-size: 150px 150px;
  background-repeat: repeat;
}

.content-wrapper {
  @apply flex min-h-screen flex-col;
  min-height: 100dvh;

  main {
    @apply relative flex grow flex-col;
  }

  @import './nav.scss';
  @import './footer.scss';
}

.nav-loader {
  @apply fixed top-0 left-0 w-full h-1 bg-gradient-to-r from-primary-500 to-accent-500 transition-opacity opacity-0;
  animation: fadeOut 150ms ease forwards;

  &.active {
    @apply transition-none opacity-100;
    animation: navProgress 300ms ease forwards, navLoaderPulse 2s ease 450ms infinite;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  color: inherit;
  // fill: currentColor;
}

.link-underline {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    right: 0;
    @apply h-0.5 bg-text-500 rounded-full hover:bg-text-100 transition;
  }
}

#home {
  @import './home.scss';
}

.cookies {
  @apply fixed bottom-0 w-full backdrop-blur bg-background-light/5 py-4 px-6 flex justify-center items-center z-50;
  opacity: 0;
  animation: fadeIn 300ms ease 300ms forwards;

  .cc-content-wrapper {
    @apply w-full max-w-xl flex flex-col text-text-300;
  }

  .cc-title {
    @apply font-medium text-text-100;
  }

  .cc-text {
    @apply text-sm;
  }

  .cc-button {
    @apply mt-2 px-2 w-max border border-text-100 text-text-100 hover:bg-text-100/10 transition active:bg-text-100/20 rounded;
  }
}

@mixin markdownContent {
  @apply prose prose-invert prose-neutral prose-li:m-0 max-w-none;
  @apply prose-code:before:content-none prose-code:after:content-none prose-code:bg-background-dark prose-code:px-1 prose-code:py-0.5 prose-code:rounded;
}

.single-content {
  @include markdownContent();
  @apply w-full max-w-5xl self-center px-4;
}

article.page {
  @apply w-full max-w-5xl self-center px-1 flex flex-col gap-10;

  header {
    @apply flex flex-col gap-4 w-full bg-text-900 rounded-lg shadow-xl;

    .header-image {
      @apply w-full max-h-72 h-full object-cover object-center self-center flex justify-center items-center overflow-hidden rounded-lg shadow-xl;
    }

    > h1 {
      @apply md:text-5xl text-4xl font-bold bg-gradient-to-t from-text-300 to-text-100 bg-clip-text text-transparent px-3;
    }

    .article-info {
      @apply flex md:justify-between md:items-center flex-col md:flex-row gap-2 py-1 px-3;

      .author-link {
        @apply relative text-primary-50 hover:text-primary-100 transition;
      }

      .tags {
        @apply flex gap-x-2 gap-y-1 items-center flex-wrap max-w-96 w-full md:justify-end justify-start;

        a {
          @apply bg-text-500/20 rounded px-0.5 hover:scale-105 transition block;

          &::before {
            content: "#";
            @apply text-text-300 mr-0.5 italic;
          }
        }
      }
    }
  }

  .content {
    @apply px-3;
    @include markdownContent();
  }
}

main.list-page {
  header {
    @apply flex justify-center items-center flex-col py-8 md:py-12;

    h1 {
      @apply text-4xl md:text-5xl font-bold bg-gradient-to-t from-text-300 to-text-100 bg-clip-text md:leading-tight leading-tight text-transparent;
    }

    // subheading
    h2 {
      @apply text-xl text-text-300;
    }
  }

  &.tag-page header {
    @apply flex flex-col gap-4;

    h1 {
      background-image: none;
      @apply bg-text-500/35 rounded-lg px-1 bg-clip-border text-text-100;

      &::before {
        content: "#";
        @apply text-text-300 mr-2 italic;
      }
    }

    .divider {
      @apply w-24 bg-text-500 h-0.5 rounded-full mt-2;
    }

    p {
      @apply text-text-300 text-lg font-medium;
    }
  }

  &.author-page header {
    @apply flex flex-col gap-6;

    .avatar {
      @apply bg-white h-48 w-48 rounded-full shadow-lg overflow-hidden;
    }

    .description {
      @apply w-full max-w-5xl text-center text-text-300;
    }

    .socials {
      @apply flex gap-x-4 gap-y-3 flex-wrap justify-center px-2;

      .social-link {
        @apply flex gap-2 items-center bg-text-500/35 py-0.5 px-1.5 rounded transition-transform hover:scale-105;
      }
    }
  }

  .articles-list  {
    @apply grid auto-cols-fr grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 justify-items-center py-2 px-6;

    article {
      @apply w-full max-w-sm;

      > a {
        @apply bg-neutral-800 flex flex-col gap-4 pb-4 rounded-lg overflow-hidden shadow-lg transition hover:scale-105;

        > picture {
          @apply h-40 w-full flex justify-center items-center overflow-hidden;
        }

        > div {
          @apply px-4 flex flex-col gap-2 min-h-28;

          h3 {
            @apply text-xl font-semibold;
          }

          p {
            @apply text-text-300;

            &.no-desc {
              @apply italic;
            }
          }

          .tags {
            @apply flex gap-x-2 gap-y-1.5 flex-wrap mt-auto;

            > span {
              @apply bg-text-500/20 rounded px-0.5 text-text-300 text-sm;

              &::before {
                content: "#";
                @apply italic mr-0.5;
              }
            }
          }
        }
      }
    }
  }

  .pagination-container {
    @apply my-8;
  }

  .tags-list {
    @apply max-w-6xl w-full mx-auto flex gap-x-2 gap-y-1.5 flex-wrap items-center;

    a {
      @apply bg-text-500/35 rounded-lg px-2 bg-clip-border text-text-100 text-xl hover:scale-110 transition-transform block;

      &::before {
        content: "#";
        @apply text-text-300 mr-1 italic;
      }
    }
  }
}

.pagination {
  @apply flex justify-center items-center w-full gap-4;

  .page-item {
    a {
      @apply bg-neutral-800 h-8 w-8 flex justify-center items-center rounded transition hover:bg-neutral-700;
    }

    &.active a {
      @apply bg-primary-700;
    }

    &.disabled a {
      @apply bg-neutral-900 text-text-500;
    }
  }
}

.file-name {
  @apply border-2 border-b-0 border-text-500/35 bg-background-dark inline-flex items-center py-2 px-4 gap-2 text-text-300 text-sm z-40;
  position: relative;
  bottom: -2px;

  .file-icon {
    @apply text-lg;
  }
}

.copy-code-button {
  @apply absolute top-0 right-0 m-2 text-text-500;

  &.copied {
    @apply text-green-500;
  }
}

time[data-hover] {
  position: relative;

  &::before {
    content: attr(data-hover);
    position: absolute;
    display: block;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    pointer-events: none;
    @apply bg-text-500 text-sm px-1 py-0.5 rounded shadow opacity-0 transition-opacity;
  }

  &:hover::before {
    @apply opacity-100;
  }
}
