@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-dark text-text-100 antialiased font-body;
}

.content-wrapper {
  @apply flex min-h-screen flex-col;
  min-height: 100dvh;

  main {
    @apply relative flex grow flex-col;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  color: inherit;
  fill: currentColor;
}

.link-underline {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    right: 0;
    @apply h-0.5 bg-text-500 rounded-full hover:bg-text-100 transition;
  }
}

#home {
  @import './home.scss';
}
