@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixins.scss';
@import './animations.scss';
@import './syntax.scss';

::selection {
  @apply bg-primary-500 text-text-100;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  @apply text-text-100 antialiased font-body overflow-y-scroll h-full scroll-pt-24 scroll-smooth;
  // @apply bg-background-dark;
  background: rgba($color: #050505, $alpha: .95) url(/styling/noise.svg);
  background-size: 150px 150px;
  background-repeat: repeat;
}

.content-wrapper {
  @apply flex min-h-screen flex-col;
  min-height: 100dvh;

  main {
    @apply relative flex grow flex-col;
  }

  @import './nav.scss';
  @import './footer.scss';
}

.nav-loader {
  @apply fixed top-0 left-0 w-full h-1 bg-gradient-to-r from-primary-500 to-accent-500 transition-opacity opacity-0;
  animation: fadeOut 150ms ease forwards;
  z-index: 9999;

  &.active {
    @apply transition-none opacity-100;
    animation: navProgress 300ms ease forwards, navLoaderPulse 2s ease 450ms infinite;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  color: inherit;
  // fill: currentColor;
}

.link-underline {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    right: 0;
    @apply h-0.5 bg-text-500 rounded-full hover:bg-text-100 transition;
  }
}

#home {
  @import './home.scss';
}

.cookies {
  @apply fixed bottom-0 w-full backdrop-blur bg-background-light/5 py-4 px-6 flex justify-center items-center z-50;
  opacity: 0;
  animation: fadeIn 300ms ease 300ms forwards;

  .cc-content-wrapper {
    @apply w-full max-w-xl flex flex-col text-text-300;
  }

  .cc-title {
    @apply font-medium text-text-100;
  }

  .cc-text {
    @apply text-sm;
  }

  .cc-button {
    @apply mt-2 px-2 w-max border border-text-100 text-text-100 hover:bg-text-100/10 transition active:bg-text-100/20 rounded;
  }
}

.single-content {
  @include markdownContent();
  @apply w-full max-w-5xl self-center px-4;
}

@import './article.scss';

@import './list-pages.scss';

time[data-hover] {
  position: relative;

  &::before {
    content: attr(data-hover);
    position: absolute;
    display: block;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    pointer-events: none;
    @apply bg-text-500 text-sm px-1 py-0.5 rounded shadow opacity-0 transition-opacity;
  }

  &:hover::before {
    @apply opacity-100;
  }
}
