    {{- $author := index (.Params.Authors) 0 -}}
    {{- $thumbnail := "img/thumbnail.png" -}}
    {{- $thumbnail_file := .Resources.Get $thumbnail -}}

    {{- if not $thumbnail_file }}
      {{- $thumbnail = "images/default-thumbnail.png" -}}
      {{- $thumbnail_file = resources.Get $thumbnail -}}
    {{- end -}}
    {{- $image_webp := partial "ImageConverter.html" (dict "ImageSrc" $thumbnail "ImgParam" (printf "%dx%d webp q90" $thumbnail_file.Width $thumbnail_file.Height) "Page" . "ImgAbsoluteUrl" true) -}}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "BlogPosting",
        "@id": "{{ .Permalink }}",
        "headline": "{{ .Title }}",
        "name": "{{ .Title }}",
        "description": "{{ .Description }}",
        "datePublished": "{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}",
        "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}",
        {{- if not (eq (.Params.Date.Format "2006-01-02") (.Params.LastMod.Format "2006-01-02")) }}
        "dateModified": "{{ .Params.LastMod.Format "2006-01-02T15:04:05.000-07:00" }}",
        {{- end }}
        {{- if .Params.ExpiryDate }}
        "expires": "{{ .Params.ExpiryDate.Format "2006-01-02T15:04:05.000-07:00" }}",
        {{- end }}
        "author": {
          "@type": "Person",
          "@id": "{{ site.BaseURL }}authors/{{ urlize $author }}/",
          "name": "{{ $author }}",
          "url": "{{ site.BaseURL }}authors/{{ urlize $author }}/"
        },
        "copyrightHolder": {
          "@type": "Person",
          "@id": "{{ site.BaseURL }}authors/{{ urlize $author }}/",
          "name": "{{ $author }}",
          "url": "{{ site.BaseURL }}authors/{{ urlize $author }}/"
        },
        "image": {
          "@type": "ImageObject",
          "width": "{{ $thumbnail_file.Width }}",
          "height": "{{ $thumbnail_file.Height }}",
          "encodingFormat": "image/webp",
          "url": "{{ $image_webp }}"
        },
        "url": "{{ .Permalink }}",
        "mainEntityOfPage": "{{ .Permalink }}",
        "isPartOf": {
          "@type": "Blog",
          "@id": "{{ site.BaseURL }}blog/",
          "name": "Blog"
        },
        "wordCount": "{{ .WordCount }}",
        "inLanguage": "en",
        "isAccessibleForFree": true,
        "keywords": [
          {{- $keywordsLength := (.Params.Tags | len) -}}
          {{ range $index, $tag := .Params.Tags }}
          {
            "@type": "DefinedTerm",
            "@id": "{{ site.BaseURL }}tags/{{ $tag }}/",
            "inDefinedTermSet": "{{ site.BaseURL }}tags/",
            "name": "{{ $tag }}",
            "url": "{{ site.BaseURL }}tags/{{ $tag }}/",
            "mainEntityOfPage": "{{ site.BaseURL }}tags/{{ $tag }}/"
          }{{- if not (eq $index (sub $keywordsLength 1)) -}},{{- end -}}
          {{ end }}
        ]
      }
    </script>
