<!-- {{ $img := print .Permalink "img/featured.png" }}

{{ if not (fileExists (print .RelPermalink "img/featured.png")) }}
    {{ $img = "/img/default-cover.png" }}
{{ end }}  -->

{{ $img = "/favicons/derlev-opg.webp" }}
{{ $og_type := .Param "og-type" | default "article" }}
{{ $description := .Description | default .Summary }}


    <link rel="canonical" href="{{ .Permalink | absURL }}" />

    <meta name="description" content="{{ $description }}">
    <meta name="image" content="{{ $img | absURL }}">

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink | absURL }}" />
    <meta property="og:image" content="{{ $img | absURL }}" />
    <meta property="og:description" content="{{ $description }}" />
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="{{ $og_type }}" />
    {{ if eq $og_type "article" }}
    {{ if isset .Params "date" }}
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
    {{ end }}
    {{ if isset .Params "lastmod" }}
    <meta property="og:article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">
    {{ end }}
    {{ if isset .Params "expirydate" }}
    <meta property="og:article:expiration_time" content="{{ .ExpiryDate.Format "2006-01-02T15:04:05-07:00" }}">
    {{ end }}
    {{ if isset .Params "tags" }}
    {{ range .Params.Tags }}
    <meta property="og:article:tag" content="{{ . }}">
    {{ end }}
    {{ end }}
    {{ end }}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@_derlev_">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ $description }}">
    <meta name="twitter:image" content="{{ $img | absURL }}">
{{- "" -}}
