    <nav>
      <div>
        {{- $image_url := "/images/nav-256.png" -}}
        {{- $image := resources.Get $image_url -}}
        {{- $image_webp := partial "ImageConverter.html" (dict "ImageSrc" $image_url "ImgParam" (printf "%dx%d webp q90" $image.Width $image.Height)) -}}
        {{- $image_webp_small := partial "ImageConverter.html" (dict "ImageSrc" $image_url "ImgParam" (printf "%dx%d webp q90" (math.Div $image.Width 2) (math.Div $image.Height 2))) -}}
        {{- $image_jpg := partial "ImageConverter.html" (dict "ImageSrc" $image_url "ImgParam" (printf "%dx%d jpg q90" $image.Width $image.Height)) -}}
        <a href="/" class="nav-main">
          <picture>
            <source srcset="{{ $image_webp_small }}, {{ $image_webp }} 2x" type="image/webp">
            <source srcset="{{ $image_jpg }}" type="image/jpeg">
            <img class="nav-main-img" src="{{ $image_jpg }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="DerLev Profile">
          </picture>
          <span>DerLev</span>
        </a>
      </div>
      <div class="nav-right">
        <a href="/">Me</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </div>
    </nav>
{{- "" -}}
