{{- $dest := .Destination -}}
{{- $dest := replace $dest "%20" " " -}}
{{- $image := .Page.Resources.Get $dest -}}

{{- if $image -}}
{{- $image_width := cond (gt $image.Width 1280) 1280 $image.Width -}}
{{- $image_height := cond (gt $image.Width 1280) (math.Floor (div  1280 (div (float $image.Width) (float $image.Height)))) $image.Height -}}
{{- $image_webp := partial "ImageConverter.html" (dict "ImageSrc" $dest "ImgParam" (printf "%dx%d webp q90" $image_width (int $image_height)) "Page" .Page) -}}
<figure class="content-image">
  <picture>
    <source srcset="{{ $image_webp }}" type="image/webp">
    <img loading="lazy" src="{{ $image_webp }}" width="{{ $image_width }}" height="{{ $image_height }}" {{ with .Text}} alt="{{ . }}" {{ end }} {{ with .Title}} title="{{ . }}"{{ end }}>
  </picture>
  {{ if (or .Text .Title) }}
  <figcaption>{{ if .Title }}{{ .Title }}{{ else }}{{ .Text }}{{ end }}</figcaption>
  {{ end }}
</figure>
{{- else -}}
<figure class="content-image">
  <img loading="lazy" src="{{ .Destination | safeURL }}" {{ with .Text}} alt="{{ . }}" {{ end }} {{ with .Title}} title="{{ . }}"{{ end }} />
  {{ if (or .Text .Title) }}
  <figcaption>{{ if .Title }}{{ .Title }}{{ else }}{{ .Text }}{{ end }}</figcaption>
  {{ end }}
</figure>
{{- end -}}
