{{ define "header" }}
  {{ partial "topnav" }}
{{ end }}
{{ define "main" }}
  <main class="list-page {{ if not (eq .RelPermalink "/tags/")}}tag-page{{ end }}">
    <header>
      <h1>{{ .Title }}</h1>
      {{ if .Description }}
        <div class="divider"></div>
        <p>{{ .Description }}</p>
      {{ end }}
    </header>
    {{ if eq .RelPermalink "/tags/" }}
      <section class="tags-list">
        {{ range .Pages }}
          <a href="{{ .RelPermalink }}">{{.Title}}</a>
        {{ end }}
      </section>
    {{ else }}
      <section class="articles-list">
        {{ range .Pages }}
          {{ partial "post-card" . }}
        {{ end }}
      </section>
    {{ end }}
  </main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
